$h1: 2.7em;
$h2: 2.3em;
$h3: 1.5em;
$p: 1em;
$a: 0.5em;
$max: 100%;
$min: 0;
$color1: #024959;
$color2: #012E40;
$color3: white;

*{
    margin: $min;
    padding: $min;
    box-sizing: border-box;
} 
h1{
    font-size: $h1;
}
h2{
    font-size: $h2;
}
h3{
    font-size: $h3;
}
p{
    font-size: $p;
}
.logo img{
    width: 6em;
    height: $max;
    margin-left: 1.5em;
}
.header{
    background-image: linear-gradient(#f7eee6, $color3);    
}

nav ul li a{
    color: $color1;
    text-decoration: none;
    font-size: $h3;
    margin: $min $h3;
}

.container-fluid{
    padding: $min;
}

.bannerPri{    
    padding: $min;    
    color: $color2; 
    position: relative;   
}

.bannerPri h1{
    position: absolute;
    text-align: center;
    width: $max;
    margin: $min;
    top: $max/2;
    right: $max/2;        
    transform: translate($max/2, -$max/2);    
}
.bannerPri h1 a{    
    text-decoration: none;    
    color: $color2;
    background-color: rgba(255, 255, 255,0.8);
    padding: 0.5em $p;
    border-radius: 8px;
    border-bottom: 3px solid $color1;
}

@media screen and (max-width: 768px) {
    .bannerPri h1{
        font-size: 1.8em;        
    }
}

@media screen and (max-width: 576px) {
    .bannerPri h1{
        font-size: $h3;        
    }
}

.seccion{
    display: flex;
    padding: 2em;
    border-bottom: 0.2px solid rgb(223, 221, 221);    
}
.textoSecc{
    display: flex;    
    text-align: justify;
    flex-direction: column;
    justify-content: space-evenly;       
    padding: 3em;
    box-shadow: 0px 3px 5px rgba($min,$min,$min,0.2);
    
}
.textoSecc h2{    
    color: $color2;
}
.textoSecc p{    
    color: rgb(107, 107, 107);
    width: $max;
}

.textoSecc h3 a{    
    text-decoration: none;
    background-color: $color1;
    padding: 0.7em;
    border-radius: 5px;    
    color: $color3;
    text-align: center;
}


.imgSecc img{    
    box-shadow: 0px 3px 5px rgba($min,$min,$min,0.2);
    border-radius: 8px;
    width: $max;
    height: auto;    
}

@media screen and (max-width: 970px) {
    .textoSecc{
        justify-content: space-between;        
    }
    .textoSecc h3 a{
        font-size: 0.8em;
        padding: 0.6em;
    }    
}

@media screen and (max-width: 768px) {
    .textoSecc{
        align-items: center;
    }

    .imgSecc img{
        margin-top: $p;
        
    }

}

footer{
    display: flex;
    background-color:  $color1;
    background-color: $color1;
    flex-direction: column;
    align-items: center;
    padding: 3em;
}
footer p{    
    color: $color3;
}
.redes{
    margin-bottom: 2em;
    border-bottom: 1px solid #F2E3D5;
    padding: $p;
}
.redes a{
    padding: $min 0.5em;
}
.busRut{
    position: relative;   
    color: $color3;    
    padding: $min;
}

@mixin banner($tran){
    position: absolute;
    text-align: center;
    margin: $min;
    width: $max;
    top: $tran;
    right: $max/2;
    transform: translate($max/2, -$tran/2);  
}
.textRut h1{    
     @include banner(20%);     
}

.textRut h3{    
    @include banner(35%);     
}

.textRut .buscar{    
    @include banner(50%);     
}

.textRut p{    
    @include banner(65%);     
}

@media screen and (max-width: 992px) {
    .textRut h1{    
        @include banner(20%);     
   }
   
   .textRut h3{    
       @include banner(40%);     
   }
   
   .textRut .buscar{    
       @include banner(60%);     
   }
   
   .textRut p{    
       @include banner(80%);     
   }

}
@media screen and (max-width: 758px) {
    .textRut h1{    
        @include banner(15%);
         font-size: 2em;    
   }
   
   .textRut h3{    
       @include banner(40%);
          font-size: 1.3em;  
   }
   
   .textRut .buscar{    
       @include banner(65%);     
   }
   
   .textRut p{    
       @include banner(90%);
          
   }

}

.buscar input{
    width: 25em;
    height: $max;
    padding: 10px 35px 10px 10px;
    border-radius: 5px; 
    border: 0.5px solid rgb(160, 160, 160);
    outline: none;
    font-size: 1rem;
    
}
.buscar button{
    background-color: $color1;
    padding: 10px 15px; 
    border: $min;  
    border-radius: $min 5px 5px $min;
    cursor: pointer;
}

.busRut a{
    background-color: $color2;    
    color: $color3;       
    padding: $p 4em;
    text-decoration: none;
    border-radius: 5px;    
}

.suplementos{
    height: auto;
    padding: $min;    
    color: $color3; 
    position: relative;
}

.suplementos h2{
    position: absolute;
    text-align: center;
    width: 80%;
    top: $max/2;
    right: $max/2;        
    transform: translate($max/2, -$max/2);    
}

.secSup{
    display: grid;
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: auto auto auto;
    gap: 3px;
    padding: 2em;
}
.sup img{
    width: $max; 
    margin-bottom: $p; 
    border-bottom: 1.5px solid $color1;  
}
.secSup .sup{    
    text-align: center;
    color: $color1;
    padding: 2em;     
    box-shadow: 0px 3px 5px rgba($min,$min,$min,0.2);
}


@media screen and (max-width: 576px) {
    .suplementos h2{
        font-size: 1.3em;        
    }
    .secSup .sup{
        padding: $p;
    }
}

@media screen and (max-width: 450px) {
    
    .secSup {        
        grid-template-columns: 50% 50%;             
    }
    .sup{       
       justify-self: center;
    }
    .sup p {
        font-size: 0.8em;  
    }
}

.recetas{           
    position: relative;
    padding: $min;    
}
.recetas h2{    
    color: $color3;    
    position: absolute;
    text-align: center;
    width: $max;
    top: $max/2;
    right: $max/2;        
    transform: translate($max/2, -$max/2); 
}

.secRec{
    display: flex;
    justify-content: space-evenly;    
    flex-wrap: wrap;
    padding: 2em;
}
.rec img{
    width: $max; 
    margin-bottom: $p; 
    border-radius: 30%;
}
 
.secRec .rec{
    width: 25%;
    text-align:end; 
    color: $color2;    
    padding: 2em;
    margin: 2em;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba($min,$min,$min,0.3);
}

.secRec p{
    margin: 2em $min;    
}

.secRec p a{
    text-decoration: none;
    padding: $p $p;
    color: $color3;
    width: $max;
    text-align: center;
    background-color: $color1;
    border-radius: 8px;
}

@media screen and (max-width: 992px) {
    
    .secRec {
        padding: $min;             
        justify-content: center;            
    }
    .secRec .rec{       
       width: 40%;       
    }
    
}
@media screen and (max-width: 640px) {
    
    
    .secRec .rec{       
       width: 80%;       
    }
    
}

.conta{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: $h3;
    padding: 3em .7em;
    text-align: center;
}

.form{
    display: grid;
    justify-items: center;
    gap: $h3;
}

.input{
    width: 80%;
    max-width: 500px;    
    border: 0.1px solid $color1;
    padding: $p;    
    border-radius: 0.6em;
}

.form .but{
    background-color: $color1;
    color: $color3;
    font-weight: 600;
}

.conta h2{    
    color: $color2;
}

.conta p{
    margin: 0.3em $min;
    font-size: 20px;
    color: $color1;
}
.rutina{
    margin: 3em 0;
    padding: $a+$a;
}
.rutina .cardRut{
    padding: $min;    
}
